<!DOCTYPE html>
<html>
<head>
    <title>人脉</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>
<body>
<div id="pageIndex">
    <header>
        <div class="container">
            <img src="{% static 'img/logo2.png' %}">
            <ul>
                <li><a href="#">人脉</a></li>
                <li><a href="{% url 'event' %}">事件</a></li>
                <li><a href="#">个人中心</a></li>
            </ul>
            <a href="{% url 'logout' %}" class="logOut">退出登录</a>
        </div>
    </header>
    <section class="selectBox">
        <div class="container">
            <h2>注意：我们建议您给您的每个朋友都设置一个名为“邮箱”文字属性，以便我们发送邮件</h2>
            <p id="all_data" style="display:none;">{{ all_data }}</p>
            <div class="label">朋友</div>
            <div class="labelBox">
                <h1>创建朋友</h1>
                <div id="newfriendsdiv" style="display: inline-block;padding: 10px 10px;">
                    <form class="table_fillin" id="newfriends" action="{% url 'newfriends' %}" method="post"
                          style="display: inline-block;">
                        {#                        {% csrf_token %}#}
                        <span>朋友姓名：</span>
                        <input name="{{ KEY_OF_FRIEND_NAME }}" type="text" required>
                        <br>
                        <button type="button" id="add_tag">添加标签</button>
                        <br><span>数值属性名：</span><input name="numtitle0" type="text" value="重要度" required readonly><span>数值属性内容：</span><input
                            name="numcontent0" type="number" required>
                        <button type="button" id="add_text_label">添加文字属性</button>
                        <button type="button" id="add_num_label">添加数值属性</button>
                        <button type="button" id="add_date_label">添加日期属性</button>
                        <br>
                        <button class="btn-danger" type="submit" id="submit_newfriends" style="padding:8px 100px">提交
                        </button>
                    </form>
                </div>

                <h1>所有朋友</h1>
                <div id="all_friends"></div>
                <form method="POST" action="{% url 'sendemail' %}" id="sendtoalldiv" class="table_fillin">
                    <h4>发送邮件给所有朋友</h4>
                    <h6>您可以在标题和内容中用“【{{ KEY_OF_FRIEND_NAME }}】”字样表示出您想要填写您朋友名字的地方，我们在发送邮件时将自动将“【{{ KEY_OF_FRIEND_NAME }}】”字段替换为该朋友的姓名。另：发送时间这个输入框有时会发生光标乱跳的情况，解决办法：关闭中文输入法</h6>
                    <span>发送时间：</span><input type="datetime-local" name="date" required><br>
                    <span>标题：</span><input type="text" name="title" placeholder="生日快乐" required><br>
                    <span>内容：</span><input type="text" name="content" placeholder="【朋友姓名】，祝你生日快乐！" required><br>
                    <button type="submit" class="btn-danger" id="sendtoallbutton" style="padding: 8px 50px;">开始</button>
                </form>
                <script>

                </script>
            </div>

            <div class="label">属性</div>
            <div class="labelBox">
                <!--这里不要用静态链接，尽量用带参数的url需要修改一下！！！！！！！-->
                <h1>所有标签</h1>
                <div id="all_tags"></div>

                <div class="table_fillin" id="">
                    <h4>根据标签搜索</h4>
                    <form id="" action="{% url 'newfriends' %}" method="post" style="display: inline-block">
                        <span>关键词：</span>
                        <input id="searchbytagkeyword" type="text" style="margin: 10px 10px;" required><br>
                        <button class="btn-danger" id="searchbytagbutton" type="button" style="padding:8px 50px">开始
                        </button>
                        <input id="searchbytagfuzzy" type="checkbox"
                               style="border-radius: 5px;padding: 10px 10px;width: auto;margin: 10px 10px;"><span>模糊搜索</span>
                        <div id="searchbytagresult"></div>
                    </form>
                </div>

                <h1>所有属性</h1>
                <div id="all_features"></div>

                <div class="table_fillin" id="">
                    <h4>根据属性筛选</h4>
                    <form id="" action="{% url 'newfriends' %}" method="post" style="display: inline-block">
                        <span>选择属性：</span>
                        <select id="searchbyfeatureselect">
                        </select>
                        <div id="searchbyfeaturefillin">
                        </div>
                        <button class="btn-danger" type="button" id="searchbyfeaturebutton" style="padding:8px 50px">
                            开始
                        </button>
                        <div id="searchbyfeatureresult"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{##############################################################################}
{##############################################################################}
{##############################################################################}
<div class="cover" id="tag_detail" style="height: auto">
    <div class="detailBox" style="height: auto;padding: 10px 10px;">
        <button class="closeBtn">X</button>
        <h3 id="tag_detail_tagname"></h3>
        <div id="tag_detail_namelist" class="labelBox">
        </div>
        <div class="addLable"><img src="{% static 'img/Tag-Add.png' %}"></div>
    </div>
</div>
{##############################################################################}
<div class="cover" id="friend_detail" style="height: auto">
    <div class="detailBox" style="height: auto;padding: 20px 10px;">
        <button class="closeBtn">X</button>
        <div class="mainInfoBox">
            <img src="{% static 'img/logo2.png' %}">
            <div class="rightBox" id="friend_detail_features">
            </div>
        </div>
        <div id="friend_detail_taglist" class="labelBox">
        </div>
        <div class="addLable"><img src="{% static 'img/Tag-Add.png' %}"></div>
        <div style="text-align: center">
            <button id="friend_detail_delete" onclick="deleteFriend()" class="btn-danger" style="padding: 6px 80px;">
                删除该朋友
            </button>
            <script>
                function deleteFriend() {
                    $.ajax({
                        url: "{% url 'deletefriends' %}",
                        type: "POST",
                        dataType: "json",
                        data: {
                            friend_id: $('#friend_detail_delete')[0].name,
                        },
                        success: function (data) {
                            console.log(data);
                            window.location.href = "{% url 'waiting' %}";
                        },
                        error: function (res) {
                            console.log(res);
                            alert("{{ ELASTIC_ERROR_MESSAGE }}");
                        }
                    })
                }
            </script>
        </div>
    </div>
</div>
{##############################################################################}
{##############################################################################}
{####新建朋友#############################################}
<script>

    var num_tag = 0;
    var num_num = 1;
    var num_text = 0;
    var num_date = 0;

    $('#add_tag').click(function (e) {
        $('#add_tag').before('<br><span>标签内容：</span><input name="tag' + num_tag + '" type="text" required>');
        num_tag++;
    })

    {# 添加文字属性#}
    $('#add_text_label').click(function (e) {
        $('#add_text_label').before('<br><span>文字属性名：</span><input name="texttitle' + num_text + '" type="text" required><span>文字属性内容：</span><input name="textcontent' + num_text + '" type="text" required>');
        num_text++;
    });

    {# 添加数值属性#}
    $('#add_num_label').click(function (e) {
        $('#add_text_label').before('<br><span>数值属性名：</span><input name="numtitle' + num_num + '" type="text" required><span>数值属性内容：</span><input name="numcontent' + num_num + '" type="number" required>');
        num_num++;
    });

    $('#add_date_label').click(function (e) {
        $('#add_text_label').before('<br><span>日期属性名：</span><input name="datetitle' + num_date + '" type="text" required><span>日期属性内容：</span><input name="datecontent' + num_date + '" type="date" required>');
        num_date++;
    });

    {#                提交新建好友的表单#}
    $('#submit_newfriends').click(function (e) {
        $('#submit_newfriends').append('<input style="display:none;" value="' + num_tag + '" name="num_tag">');
        $('#submit_newfriends').append('<input style="display:none;" value="' + num_text + '" name="num_text">');
        $('#submit_newfriends').append('<input style="display:none;" value="' + num_num + '" name="num_num">');
        $('#submit_newfriends').append('<input style="display:none;" value="' + num_date + '" name="num_date">');
    });
</script>
{############################################################################}
{############################################################################}
{##显示label js############}
<script>

    Array.prototype.unique3 = function () {
        var res = [];
        var json = {};
        for (var i = 0; i < this.length; i++) {
            if (!json[this[i]]) {
                res.push(this[i]);
                json[this[i]] = 1;
            }
        }
        return res;
    }

    var all_data = eval('(' + $('#all_data')[0].innerHTML + ')');
    var tags = {};//存储属性：有该属性的用户的id的list
    var features = [];

    for (id in all_data) {
        for (let i = 0; i < all_data[id]['标签'].length; i++) {
            if (all_data[id]['标签'][i] in tags) {
                tags[all_data[id]['标签'][i]].push(id);
            } else {
                tags[all_data[id]['标签'][i]] = [id];
            }
        }
        for (feature in all_data[id]) {
            features.push(feature);
        }
    }
    features = features.unique3();
    let all_friend_id_list = [];
    for (id in all_data) {
        all_friend_id_list.push(id);
        $('#all_friends').append('<a name="' + all_data[id] + '" onclick="showFriendsDetail(this,event,\'' + id + '\')">' + all_data[id]['{{ KEY_OF_FRIEND_NAME }}'] + '</a>');
    }

    {#    将所有朋友id填入给所有朋友发送邮件的框内#}
    $('#sendtoalldiv').append('<input name="ids" value="' + all_friend_id_list + '" type="text" style="display:none;">');

    for (key in tags) {
        $('#all_tags').append('<a name="' + tags[key] + '" onclick="showTagsDetail(this,event)">' + key + '</a>');
    }

    console.log(features);
    for (let i = 0; i < features.length; i++) {
        if (features[i] == "标签")continue;
        $('#all_features').append('<a name="' + features[i] + '" onclick="">' + features[i] + '</a>');
    }

    $.ajax({
        url: "{% url 'gettypes' %}",
        type: "GET",
        success: function (data) {
            console.log('data', data);
            data = eval('(' + data + ')');
            $('#searchbyfeatureselect').append('<option  name="none">——请选择——</option>')
            for (feature in data) {
                $('#searchbyfeatureselect').append('<option  name="' + data[feature] + '">' + feature + '</option>')
            }
        },
        error: function (res) {
            console.log(res);
            alert("{{ ELASTIC_ERROR_MESSAGE }}");
        }
    })

</script>
{############################################################################}
{############################################################################}
{##详细信息cover的关闭&滑动块特效######}
<script>
    // 关闭cover
    $(".cover .closeBtn").click(function () {
        $(".cover").hide();
        {#        console.log(this);#}
        {#        console.log(typeof this);#}
        {#        this.style.visibility='hidden';#}
        {#        this.style.display='none';#}
        {#        this.hide();#}
    })

    // 滑动块start
    var tag1 = false, ox1 = 0, left1 = 0, bgleft1 = 0;
    var tag2 = false, ox2 = 0, left2 = 0, bgleft2 = 0;
    $('.progress_Right').mousedown(function (e) {
        ox1 = e.pageX - left1;
        tag1 = true;
    });
    $('.progress_Left').mousedown(function (e) {
        ox2 = e.pageX - left2;
        tag2 = true;
    });
    $(document).mouseup(function () {
        tag1 = tag2 = false;
    });
    $('.progress').mousemove(function (e) {//鼠标移动
        if (tag1) {
            left1 = e.pageX - ox1;
            if (left1 <= left2) {
                left1 = left2;
            } else if (left1 > 400) {
                left1 = 400;
            }
            $('.progress_Right').css('left', left1);
            $('.progress_bar').width(left1 - left2);
            $('.textRight').html(parseInt((left1 / 400) * 100));
        }
        if (tag2) {
            left2 = e.pageX - ox2;
            if (left2 <= 0) {
                left2 = 0;
            } else if (left2 > left1) {
                left2 = left1;
            }
            $('.progress_Left').css('left', left2);
            $('.progress_bar').width(left1 - left2).css('left', left2);
            $('.textLeft').html(parseInt((left2 / 400) * 100));
        }
    });
    // 滑动块end
    // cover滑动块
    var tag3 = false, ox3 = 0, left3 = 0, bgleft3 = 0;
    $('.coverProgress').mousedown(function (e) {
        ox3 = e.pageX - left3;
        tag3 = true;
    });
    $(document).mouseup(function () {
        tag3 = false;
    });
    $('.coverProgress').mousemove(function (e) {//鼠标移动
        if (tag3) {
            left3 = e.pageX - ox3;
            if (left3 <= 0) {
                left3 = 0;
            } else if (left3 > 150) {
                left3 = 150;
            }
            $('.coverProgress_btn').css('left', left3);
            $('.coverProgress_bar').width(left3);
            $('.coverText').html(parseInt((left3 / 150) * 100));
        }
    });
    $('.coverProgress_bg').click(function (e) {//鼠标点击
        if (!tag3) {
            bgleft3 = $('.coverProgress_bg').offset().left;
            left3 = e.pageX - bgleft3;
            if (left3 <= 0) {
                left3 = 0;
            } else if (left3 > 150) {
                left3 = 150;
            }
            $('.coverProgress_btn').css('left', left3);
            $('.coverProgress_bar').animate({width: left3}, 300);
            $('.coverText').html(parseInt((left3 / 150) * 100));
        }
    });
</script>
{############################################################################}
{############################################################################}
{####详细信息面板信息加载###############}
<script>
    function showTagsDetail(obj, event) {
        $('#tag_detail_namelist').empty();
        $('#tag_detail').show();
        let namelist = obj.name.split(",");
        $('#tag_detail_tagname').html("拥有“" + obj.innerHTML + "”标签的朋友：");
        for (let i = 0; i < namelist.length; i++) {
            $('#tag_detail_namelist').append('<div class="labelItem" onclick="showFriendsDetail(this,event,\'' + namelist[i] + '\')">' + all_data[namelist[i]]['{{ KEY_OF_FRIEND_NAME }}'] + '</div>')
        }
    }
    function showFriendsDetail(obj, event, id) {
        $('#friend_detail_features').empty();
        $('#friend_detail_taglist').empty();
        $('#friend_detail').show();
        let frienddetail = all_data[id];
        $('#friend_detail_features').append('<div name="' + id + '">' + frienddetail["{{ KEY_OF_FRIEND_NAME }}"] + '</div>')

        $('#friend_detail_delete')[0].name = id;

        for (key in frienddetail) {
            if (key == "标签" || key == "朋友姓名")continue;
            $('#friend_detail_features').append('<div name="' + id + '">' + key + ':' + frienddetail[key] + '</div>')
        }
        for (let i = 0; i < frienddetail["标签"].length; i++) {
            $('#friend_detail_taglist').append('<div class="labelItem">' + frienddetail["标签"][i] + '<div class="delete">X</div></div>')
        }
    }
</script>
{############################################################################}
{############################################################################}
{####搜索###############}
<script type="text/javascript">
    $('#searchbytagbutton').click(function (e) {
        $.ajax({
            url: "{% url 'searchbytag' %}",
            type: "POST",
            dataType: "json",
            data: {
                keyword: $('#searchbytagkeyword')[0].value,
                fuzzy: $('#searchbytagfuzzy')[0].checked,
            },
            success: function (data) {
                $('#searchbytagresult').empty();
                $('#searchbytagresult').append('<p>搜索结果:<\p>');
                let fuzzy = data['fuzzy'];
                data = data['result_id'];
                let tag_id_list = [];
                for (let i = 0; i < data.length; i++) {
                    tag_id_list.push(data[i][0]);
                    if (i != 0) $('#searchbytagresult').append('<br>');
                    $('#searchbytagresult').append('<a name="' + data[i][0] + '" onclick="showFriendsDetail(this,event,\'' + data[i][0] + '\')">' + all_data[data[i][0]]["{{ KEY_OF_FRIEND_NAME }}"] + '</a>');
                    if (fuzzy) $('#searchbytagresult').append('<span>匹配度：' + data[i][1] + '</span>')
                }
                $('#searchbytagresult').append(
                    '<form method="POST" action="{% url 'sendemail' %}" id="sendtotagdiv" class="table_fillin">' +
                    '<h4>发送邮件给搜索结果中的朋友</h4>' +
                    '<h6>您可以在标题和内容中用“【{{ KEY_OF_FRIEND_NAME }}】”字样表示出您想要填写您朋友名字的地方，我们在发送邮件时将自动将“【{{ KEY_OF_FRIEND_NAME }}】”字段替换为该朋友的姓名。另：发送时间这个输入框有时会发生光标乱跳的情况，解决办法：关闭中文输入法</h6>' +
                    '<span>发送时间：</span><input type="datetime-local" name="date" required><br>' +
                    '<span>标题：</span><input type="text" name="title" placeholder="生日快乐" required><br>' +
                    '<span>内容：</span><input type="text" name="content" placeholder="【朋友姓名】，祝你生日快乐！" required><br>' +
                    '<button type="submit" class="btn-danger" id="sendtotagbutton" style="padding: 8px 50px;">开始</button>' +
                    '</form>'
                );
                console.log(tag_id_list)
                $('#sendtotagdiv').append('<input name="ids" value="' + tag_id_list + '" type="text" style="display:none;">');

            },
            error: function (res) {
                $('#searchbytagresult').empty();
                $('#searchbytagresult').append('<p>搜索结果:<\p>');
                alert("{{ ELASTIC_ERROR_MESSAGE }}");
            }
        })
    })
</script>
{############################################################################}
{############################################################################}
{####筛选###############}
<script>
    function sendEmailFeature(data) {
        $('#searchbyfeatureresult').append(
            '<form method="POST" action="{% url 'sendemail' %}" id="sendtofeaturediv" class="table_fillin">' +
            '<h4>发送邮件给筛选结果中的朋友</h4>' +
            '<h6>您可以在标题和内容中用“【{{ KEY_OF_FRIEND_NAME }}】”字样表示出您想要填写您朋友名字的地方，我们在发送邮件时将自动将“【{{ KEY_OF_FRIEND_NAME }}】”字段替换为该朋友的姓名。另：发送时间这个输入框有时会发生光标乱跳的情况，解决办法：关闭中文输入法</h6>' +
            '<span>发送时间：</span><input type="datetime-local" name="date" required><br>' +
            '<span>标题：</span><input type="text" name="title" placeholder="生日快乐" required><br>' +
            '<span>内容：</span><input type="text" name="content" placeholder="【朋友姓名】，祝你生日快乐！" required><br>' +
            '<button type="submit" class="btn-danger" id="sendtofeaturebutton" style="padding: 8px 50px;">开始</button>' +
            '</form>'
        );
        $('#sendtofeaturediv').append('<input name="ids" value="' + data + '" type="text" style="display:none;">');

    }

    $('#searchbyfeatureselect').change(function (e) {
        let featuretype = $('#searchbyfeatureselect').find('option:selected').attr('name');
        let featurevalue = $('#searchbyfeatureselect').find('option:selected')[0].value;
        $('#searchbyfeaturefillin').empty();
        if (featuretype == "num") {
            $('#searchbyfeaturefillin').append('<br><span>下限：</span><input id="searchbyfeature_num_bottom" type="number" required>');
            $('#searchbyfeaturefillin').append('<br><span>上限：</span><input id="searchbyfeature_num_top" type="number" required>');
        } else if (featuretype == "text") {
            $('#searchbyfeaturefillin').append('<br><span>关键词：</span><input id="searchbyfeature_text" type="text" required>');
        } else if (featuretype == "date") {
            $('#searchbyfeaturefillin').append('<br><span>下限：</span><input id="searchbyfeature_date_bottom" type="date" required>');
            $('#searchbyfeaturefillin').append('<br><span>上限：</span><input id="searchbyfeature_date_top" type="date" required>');
        }
    });
    $('#searchbyfeaturebutton').click(function (e) {
        let featuretype = $('#searchbyfeatureselect').find('option:selected').attr('name');
        let featurevalue = $('#searchbyfeatureselect').find('option:selected')[0].value;

        if (featuretype == "text") {
            $.ajax({
                url: "{% url 'searchbyfeature_text' %}",
                type: "POST",
                dataType: "json",
                data: {
                    featurevalue: featurevalue,
                    keyword: $('#searchbyfeature_text')[0].value
                },
                success: function (data) {
                    $('#searchbyfeatureresult').empty();
                    $('#searchbyfeatureresult').append('<p>筛选结果:<\p>');
                    for (let i = 0; i < data.length; i++) {
                        $('#searchbyfeatureresult').append('<a name="' + data[i] + '" onclick="showFriendsDetail(this,event,\'' + data[i] + '\')">' + all_data[data[i]]["{{ KEY_OF_FRIEND_NAME }}"] + '</a>');
                    }
                    sendEmailFeature(data);
                },
                error: function (res) {
                    $('#searchbyfeatureresult').empty();
                    $('#searchbyfeatureresult').append('<p>筛选结果:<\p>');
                    alert("{{ ELASTIC_ERROR_MESSAGE }}");
                }

            });
        }


        else if (featuretype == "num") {
            $.ajax({
                url: "{% url 'searchbyfeature_num_or_date' %}",
                type: "POST",
                dataType: "json",
                data: {
                    featurevalue: featurevalue,
                    bottom: $('#searchbyfeature_num_bottom')[0].value,
                    top: $('#searchbyfeature_num_top')[0].value,
                },
                success: function (data) {
                    $('#searchbyfeatureresult').empty();
                    $('#searchbyfeatureresult').append('<p>筛选结果:<\p>');
                    for (let i = 0; i < data.length; i++) {
                        $('#searchbyfeatureresult').append('<a name="' + data[i] + '" onclick="showFriendsDetail(this,event,\'' + data[i] + '\')">' + all_data[data[i]]["{{ KEY_OF_FRIEND_NAME }}"] + '</a>');
                    }
                    sendEmailFeature(data);
                },
                error: function (res) {
                    $('#searchbyfeatureresult').empty();
                    $('#searchbyfeatureresult').append('<p>筛选结果:<\p>');
                    alert("{{ ELASTIC_ERROR_MESSAGE }}");
                }

            });
        }


        else if (featuretype == "date") {
            $.ajax({
                url: "{% url 'searchbyfeature_num_or_date' %}",
                type: "POST",
                dataType: "json",
                data: {
                    featurevalue: featurevalue,
                    bottom: $('#searchbyfeature_date_bottom')[0].value,
                    top: $('#searchbyfeature_date_top')[0].value,
                },
                success: function (data) {
                    $('#searchbyfeatureresult').empty();
                    $('#searchbyfeatureresult').append('<p>筛选结果:<\p>');
                    for (let i = 0; i < data.length; i++) {
                        $('#searchbyfeatureresult').append('<a name="' + data[i] + '" onclick="showFriendsDetail(this,event,\'' + data[i] + '\')">' + all_data[data[i]]["{{ KEY_OF_FRIEND_NAME }}"] + '</a>');
                    }
                    sendEmailFeature(data);
                },
                error: function (res) {
                    $('#searchbyfeatureresult').empty();
                    $('#searchbyfeatureresult').append('<p>筛选结果:<\p>');
                    alert("{{ ELASTIC_ERROR_MESSAGE }}");
                }

            });
        }
    });
</script>
</body>
</html>