<!DOCTYPE html>
{% load static %}
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <title>Login</title>
  </head>
<style>
        html,body{text-align:center;margin:0px auto;}
</style>
<body id="pageIndex">

<form class="table_fillin" method = 'post' enctype="multipart/form-data">
    <h1>登录页面</h1>
    {{userform.as_p}}
    <input class="btn-danger" type="submit" value = "登陆" /><br>
    <a href="{% url 'regist' %}">现在注册！</a>
</form>
</body>
</html>